.centerDiv{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.onlineCard{
    float:right;
    margin: 50px;
    min-height: 600px;
    max-height: 600px;
    width: 300px;
    background-color: rgb(96, 225, 135) !important;
    box-shadow: 0px 0px 100px hwb(123 59% 7%);   
}
.onlineList{
    margin: 5px;
    min-height: 540px;
    max-height: 540px;
    width: 250px;
    overflow:hidden; 
    overflow-y:scroll; 
}

.onlineTitle{
    display: inline-block;
    margin: 0 10px 0 0;
   
 
}

#burger{
    border-style: outset;
    border-width: 2px;
    border-color: blanchedalmond;
}

.publicChatBox{
    float: left;
    margin: 50px;
    min-height: 600px;
    max-height: 600px;
    width: 500px;
    background-color: rgb(235, 244, 138) !important;
    box-shadow: 0px 0px 100px #ecff96;
}


.chatMessagesBox{
    margin: 5px;
    min-height: 500px;
    max-height: 500px;
    overflow:hidden; 
    overflow-y:auto;
}

.chatInput{
    margin: 5px;
}

.privateChatBox{
    float:inline-start;
    margin: 50px;
    min-height: 600px;
    max-height: 600px;
    width: 500px;
    background-color: rgb(138, 242, 244) !important;
    box-shadow: 0px 0px 100px #0effe7;
     
}

.publicChatMessage{
    background-color: rgb(125, 247, 4) !important;
}


.Theme{
    background-color: rgb(6, 6, 39);
    color: rgb(161, 255, 217);
    text-shadow:0px 0px 50px #00ffff;
}

body {

    background-color: rgb(6, 6, 39) !important;
    color: rgb(161, 255, 255) !important;
    /* background-image: url("../images/Gemini_Generated_Image_8ju8gr8ju8gr8ju8.jpg");
    background-size: cover; */
}












/* @keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.userBlock{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
  
} */
 

 