.mgGrid {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    transform: transform 0.2s ease, background-color 0.3s ease;
  }

.memoryGameCell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.myCell{
    border: 3px solid rgb(64, 166, 221);
    transition: transform 0.2s ease, background-color 0.3s ease;

}
.yourCell{
    border: 3px solid  rgb(251, 61, 61);
    transition: transform 0.2s ease, background-color 0.3s ease;
}






