.grid {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
  }
.tictactoeCell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.unchecked{
    transition: background-color 0.3s ease;
    background-color: white;
    cursor: pointer;
}
.checkedX{
    transition: background-color 0.3s ease;
    background-color: rgb(64, 166, 221);
}
.checkedO{
    transition: background-color 0.3s ease;
    background-color: rgb(251, 61, 61);
}
.winningCells{
    transition: background-color 0.3s ease;
    background-color: rgb(20, 152, 20);
}